// *----------------------------------------------------*
// Primary

$Color-Primary: #8a7fff;
$Color-DarkerPrimary: #5043d8;
$Color-LighterPrimary: #60c1ff;
$Color-SubtlePrimary: #def2ff;
// *----------------------------------------------------*

// *----------------------------------------------------*
// Typography

// Dark
$Typography-Dark-PrimaryText: #231f20;
$Typography-Dark-SecondaryText: #6b7588;
$Typography-Dark-DisabledText: #dde1e8;

// Light
$Typography-Light-PrimaryText: #f9f9f9;
$Typography-Light-SecondaryText: #d8d8d8;
$Typography-Light-DisabledText: #4a4a4a;
// *----------------------------------------------------*

// *----------------------------------------------------*
// Background

$Background-Content: #ffffff;
$Background-Secondary: #f7f7f7;
$Background-SecondaryAlpha: rgba(247, 247, 247, 0.15);
$Background-Tertiary: #f6f7f8;
$Background-Dark: #231f20;
// *----------------------------------------------------*

// *----------------------------------  ------------------*
// Button

// Primary
$Button-Primary-DefoltButton: $Color-Primary;
$Button-Primary-HowerButton: $Color-DarkerPrimary;
$Button-Primary-PressButton: $Color-LighterPrimary;
$Button-Primary-Disabled: #4a4a4a;

// Secondary
$Button-Secondary-DefoltButton: $Typography-Dark-PrimaryText;
$Button-Secondary-HowerButton: #373737;
$Button-Secondary-PressButton: #5e5e5e;
$Button-Secondary-Disabled: #cdd0d6;

// Tertiary
$Button-Tertiary-DefoltButton: $Background-Content;
$Button-Tertiary-HowerButton: #e8e8e8;
$Button-Tertiary-PressButton: #ebebeb;
$Button-Tertiary-Disabled: $Background-Secondary;
// *----------------------------------------------------*

// *----------------------------------------------------*
// Border&Divader
$Border-Primary: #dde5e9;
$Border-Secondary: #f2f2f5;
// *----------------------------------------------------*

// *----------------------------------------------------*
// State

// Error
$State-Error-PrimaryError: #ff3b3b;
$State-Error-DarkerError: #e53535;
$State-Error-LighterError: #ff5c5c;
$State-Error-SubtleError: #ff8080;

// Warning
$State-Warning-PrimaryError: #ffcc00;
$State-Warning-DarkerError: #e5b800;
$State-Warning-LighterError: #fddd48;
$State-Warning-SubtleError: #fded72;

// *----------------------------------------------------*

// *----------------------------------------------------*

// Gap
$Gap-2XS: 4px;
$Gap-XS: 8px;
$Gap-S: 12px;
$Gap-M: 16px;
$Gap-L: 20px;
$Gap-XL: 24px;
$Gap-2XL: 32px;
$Gap-3XL: 48px;
$Gap-4XL: 64px;
$Gap-5XL: 80px;
$Gap-6XL: 120px;
$Gap-7XL: 160px;

// *----------------------------------------------------*

// *----------------------------------------------------*

// Radius
$Radius-S: 4px;
$Radius-M: 6px;
$Radius-L: 8px;
$Radius-XL: 12px;
$Radius-2XL: 16px;
$Radius-3XL: 24px;
$Radius-4XL: 32px;
$Radius-FULL: 1000px;

// *----------------------------------------------------*

// *----------------------------------------------------*

// Size

$Size-XS: 12px;
$Size-S: 16px;
$Size-M: 24px;
$Size-L: 32px;
$Size-XL: 40px;
$Size-2XL: 48px;
$Size-3XL: 64px;

// *----------------------------------------------------*
